{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Payment{% endblock %}
{% block javascripts %}{{ parent() }}
    {{ encore_entry_script_tags('payment') }}
{% endblock %}
{% block body %}
    {% include 'security/register.html.twig' %}
    <div id="payment" data-settings="{{ settings|json_encode|format }}" data-token="{{ csrf_token('payment') }}"></div>
{% endblock %}
